<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Added friend</title>
    <base href="http://127.0.0.1:8000/" target="_self">
</head>
<body>
<p>You added friend {{ friendname }} with id {{ idfriend }}</p>
<ul>
    <li><a href=""> Home</a></li>
    <li><a href="users/show"> Show all users</a></li>
    <li><a href="search-form"> Searching users</a></li>
    <li><a href="init-user"> Edit new user</a></li>
    <li><a href="delete-init"> Delete user</a></li>
    <li><a href="send_message"> Send message</a></li>
    <li><a href="init_show_messages"> Show message</a></li>
    <li><a href="login_user"> Login</a></li>
</ul>
</body>
</html>