<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Init-user</title>
    <base href="http://127.0.0.1:8000/" target="_self">
</head>
<body>
<ul>
    <li><a href=""> Home</a></li>
    <li><a href="users/show"> Show all users</a></li>
    <li><a href="search-form"> Searching users</a></li>
    <li><a href="init-user"> Edit new user</a></li>
    <li><a href="delete-init"> Delete user</a></li>
</ul>
    <form action="/deleted-user/" method="post"> {% csrf_token %}
        <p> Name:<label>
            <input type="text" name="Name">
        </label>
        </p>
        <p> With id:<label>
            <input type="number" name="ids">
        </label>
        </p>
        <input type="submit" value="Delete">
    </form>
</body>
</html>