<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <base href="http://127.0.0.1:8000/" target="_self">
</head>
<body>
<ul>
    <li><a href=""> Home</a></li>
    <li><a href="users/show"> Show all users</a></li>
    <li><a href="search-form"> Searching users</a></li>
    <li><a href="init-user"> Edit new user</a></li>
    <li><a href="delete-init"> Delete user</a></li>
    <li><a href="send_message"> Send message</a></li>
    <li><a href="init_show_messages"> Show message</a></li>
</ul>
    <form action="/search/" method="get">
        <p> Type of search ONE/MANY/ALL:
            <label>
                <input type="text" name="type" >
            </label>
        </p>
        <p> Query of search:
            <label>
                <input type="text" name="q">
            </label>
        </p>
        <input type="submit" value="Search">
    </form>
</body>
</html>
