<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send message</title>
    <base href="http://127.0.0.1:8000/" target="_self">
</head>
<body>
<ul>
    <li><a href=""> Home</a></li>
    <li><a href="users/show"> Show all users</a></li>
    <li><a href="search-form"> Searching users</a></li>
    <li><a href="init-user"> Edit new user</a></li>
    <li><a href="delete-init"> Delete user</a></li>
    <li><a href="send_message"> Send message</a></li>
    <li><a href="init_show_messages"> Show messages</a></li>

</ul>
    <form action="/sent_message/" method="post"> {% csrf_token %}
        <p> From:<label>
            <input type="number" name="idfriend">
        </label>
        </p>
        <p> To:<label>
            <input type="number" name="idhost">
        </label>
        </p>
        <p> Message:<label>
            <input type="text" name="message">
        </label>
        <input type="submit" value="Send">
    </form>
</body>
</html>