<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <base href="http://127.0.0.1:8000/" target="_self">
</head>
<body>
<ul>
    <li><a href=""> Home</a></li>
    <li><a href="users/show"> Show all users</a></li>
    <li><a href="search-form"> Searching users</a></li>
    <li><a href="init-user"> Edit new user</a></li>
    <li><a href="delete-init"> Delete user</a></li>
    <li><a href="send_message"> Send message</a></li>
    <li><a href="init_show_messages"> Show message</a></li>
</ul>
<p>Messages to
    {% if hostname != -1 %} <strong>{{ hostname }}</strong>
    {% else %} <strong>{{ idhost }}</strong>
    {% endif %}
    from
    {% if friendname != -1 %} <strong>{{ friendname }}</strong>
    {% else %} <strong>{{ idfriend }}</strong>
    {% endif %}
</p>

{% if table %}
    <p>Messages</p>
    {% for message in table %}
    <ul>
        <li>id: {{ idfriend }}</li> <li>Message: {{ message.0 }}</li> <li>Type: {{ message.1 }}</li>
    </ul>
    {% endfor %}

{% else %}
    <p>There are no messages with this user</p>
{% endif %}
</body>
</html>